@import "variables";

.photos {
  $gap: 20px;
  display: flex;
  justify-content: space-between;

  
  &__img {
    width: 100%;
    height: 260px;
    margin: 10px;

    transition-duration: $transition-duration;

  }
  
  &__img:hover {
    transition-duration: $transition-duration;
    transition-delay: 0.5s;
    transform: scale(1.4);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(83, 80, 80, 0.77);
    z-index: 3;
  }
  
  &__link {
    display: block;
    background-position: center;
    background-size: cover;
    &--1 {
      background-image: url("../images/photos/1.jpg");
      width: calc(67% - #{$gap / 2});
    }

    &--2 {
      background-image: url("../images/photos/2.jpg");
      width: calc(33% - #{$gap / 2});
    }

    &--3 {
      background-image: url("../images/photos/3.jpg");
    }

    &--4 {
      background-image: url("../images/photos/4.jpg");
    }

    &--5 {
      background-image: url("../images/photos/5.jpg");
      width: calc(33% - #{$gap / 2});
    }

    &--6 {
      background-image: url("../images/photos/6.jpg");
      width: calc(67% - #{$gap / 2});
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .photos {
    flex-direction: column;

    &__img {
      width: 99vw;
      margin: 10px 0;

      &:hover {
        transform: scale(1);
      }
    }

    &--wide-left {
      .photos__img:first-child {
        width: 99vw;
      }
  
      .photos__img:last-child {
        width: 99vw;
      }
    }

    &--wide-right {
      .photos__img:first-child {
        width: 99vw;
      }
  
      .photos__img:last-child {
        width: 99vw;
      }
    }
  }
}
